/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.dashboardParentDiv {
  min-height: 100vh;
  background-color: #7cc3c1;
  position: relative;

  .dashboardContentDiv {
    border-radius: 10px;
    width: 78%;
    background: #fff;
    position: absolute;
    top: 1.5%;
    right: 1%;
    bottom: 1.5%;
    border-radius: 10 px;
    transition: 300ms;
    height: 97vh;
    display: flex;
    background-color: var(--dashboardColor);
    scroll-behavior: smooth;
    overflow: scroll;
    .active {
      width: 92%;
      transition: 300ms;
    }
    .dashboardPageDiv {
      scroll-behavior: smooth;
      overflow: scroll;
      width: 100%;
      height: 100%;
      .dashboardMenu {
        border-bottom: 0.2px solid var(--grey);
        padding: 0 20px;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid red;
        .searchBarParentContainer {
          padding: 0 0 0 10px;
          height: 50px;
          width: 500px;
          .searchBarCont {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 2px solid var(--grey);
            .searchBarIcon {
              color: #ddd;
              font-size: 25px;
              width: 5%;
              padding-left: 7px;
            }
            input {
              width: 85%;
              height: 100%;
              outline: none;
              border: none;
              background-color: var(--dashboardColor);
              padding-left: 7px;
            }

            button {
              width: 10%;
              background-color: var(--primary);
              border: none;
              font-weight: bolder;
              height: 100%;
              .searchBarIcon2 {
                font-weight: bolder;
                height: 100%;
                color: var(--white);
                font-size: 30px;
              }
            }
          }
        }
      }
      .dashboardSection {
        border: 2px solid red;
        display: flex;
        justify-content: space-between;

        width: 100%;
        min-height: 100%;
        .filterParentDiv {
          border: 2px solid red;
          width: 35%;
        }
        .tableParentDiv {
          border: 2px solid red;
          width: 65%;
          height: 100%;
        }
      }
    }
  }
}
