.createBranchParentDiv {
  margin-top: 30px;
  box-sizing: border-box;
  width: 100%;

  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .createBranchCont {
    width: 95%;
    height: 100%;
    box-shadow: 0.5px 1px 10px #d0cfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    .formContainer {
      //   border: 2px solid red;
      display: flex;
      justify-content: center;
      box-shadow: 0.5px 1px 10px #d0cfcf;
      background-color: var(--white);
      width: 70%;
      height: 80%;

      form {
        margin-top: 90px;
        width: 70%;
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bolder;
        }
        input {
          border-radius: 5px;
          height: 45px;
          width: 100%;
          outline: none;
          padding: 10px;
          color: var(--primary);
          font-weight: bolder;
        }
        .buttonContainer {
          margin-top: 20px;
          width: 100%;
          display: flex;

          button {
            border-radius: 5px;
            width: 100%;
            color: var(--white);
            padding: 6px 0;
            background-color: var(--primary);
            border: none;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
